body{
    background-color: gray;
}
div{
    background-color: whitesmoke;
    border: 0.5px solid black;
    width: 400px;
    height: 250px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -160px;
    margin-top: -70px;
    padding: 5px;
    
}

input{
    width: 390px;
}

select {
    width: 350px;
}

button {
    background-color: #008CBA;
}





h3 {
    text-align: center;
}

